html {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
*,*:before,*:after {
    -webkit-box-sizing:inherit;
  -moz-box-sizing:inherit;
  box-sizing:inherit;
}
.container {
    display:grid;
    grid-gap: 1em;
    max-width:1200px;
    margin: 0 auto;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: #333;
}
h1 {
    font-family: 'Playfair Display', serif; 
    font-size: 32pt;
    color:#350065;
}
img {
	max-width:100%;
	height:auto;
}

ul {
  list-style-type: none;
  margin: 50px;
  padding: 5px;
  overflow: hidden;
  background-color: darkslategray;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}